{% load astrobin_apps_donations_tags %}
{% load i18n %}
{% load dfp_tags %}

{% comment %} TODO: make an app: astrobin_apps_ads {% endcomment %}
{% if ADS_ENABLED and not request.user|is_donor %}
    <div class="subtle-container advertisement">
        <div class="header">
            <h4><i class="icon-bullhorn"></i></h4>

            {% if request.user.is_authenticated and DONATIONS_ENABLED %}
                <a class="remove" data-toggle="modal" href="#remove-ads-modal">
                    <i class="icon-remove"></i>
                </a>
            {% endif %}
        </div>

        {% if request.user_agent.is_tablet %}
            {% dfp_tag '47890729/image-page-tablet-sized' 228 250 brands=makes_list display="tablet" %}
        {% endif %}

        {% if request.user_agent.is_pc %}
            {% dfp_tag '47890729/image-page' 300 250 brands=makes_list display="desktop" %}
        {% endif %}
    </div>
{% endif %}

